name: Publish Package

on:
  workflow_dispatch

jobs:
  publish:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      id-token: write
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: Setup git user
        run: |
          git config --global user.name 'github-actions[bot]'
          git config --global user.email '41898282+github-actions[bot]@users.noreply.github.com'

      - run: corepack enable
      - uses: actions/setup-node@v6
        with:
          node-version-file: .nvmrc

      - name: Upgrade corepack
        run: npm i -g corepack@latest

      - name: Install dependencies
        run: pnpm i

      - name: Playground prepare
        run: pnpm dev:prepare

      - name: Test
        run: pnpm test

      - name: Test build
        run: pnpm prepack

      - name: Generate GitHub changelog
        run: pnpm changelogen --release --push
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Update NPM version
        run: npm install -g npm@latest && npm --version
      - name: Publish to NPM
        run: npm publish --access public --no-git-checks
